services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./..:/workspaces:cached
      - /workspaces/react-app.client/node_modules
      - /workspaces/react-app.Server/bin
      - /workspaces/react-app.Server/obj

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity